<section class="faq">
  <div class="container">
    <div class="faq__body">
      <div class="faq__info">
        <div class="faq__sub-title sub-title">
          <span><img src="./img/icons/work.svg" alt="" /></span>
          <p>Quality & value delivered</p>
        </div>
        <h2 class="title2">FAQ</h2>
      </div>

      <ul class="faq__list accordion-container">
        <li class="faq__item ac">
          <div class="ac-trigger">
            <div class="faq__box">
              <h4 class="title4">
                How can FTV optimize my business operations?
              </h4>
              <div class="faq__icon-wrapp">
                <span></span>
              </div>
            </div>
            <div class="faq__panel">
              <p class="ac-panel text-def">
                FTV streamlines your business by optimizing your supply chain,
                reducing costs, and increasing efficiency.
              </p>
            </div>
          </div>
        </li>
        <li class="faq__item ac">
          <div class="ac-trigger">
            <div class="faq__box">
              <h4 class="title4">Can FTV help me save money?</h4>
              <div class="faq__icon-wrapp">
                <span></span>
              </div>
            </div>
            <div class="faq__panel">
              <p class="faq__text ac-panel text-def">
                FTV streamlines your business by optimizing your supply chain,
                reducing costs, and increasing efficiency.
              </p>
            </div>
          </div>
        </li>
        <li class="faq__item ac">
          <div class="ac-trigger">
            <div class="faq__box">
              <h4 class="title4">What makes FTV unique?</h4>
              <div class="faq__icon-wrapp">
                <span></span>
              </div>
            </div>
            <div class="faq__panel">
              <p class="faq__text ac-panel text-def">
                FTV streamlines your business by optimizing your supply chain,
                reducing costs, and increasing efficiency.
              </p>
            </div>
          </div>
        </li>
        <li class="faq__item ac">
          <div class="ac-trigger">
            <div class="faq__box">
              <h4 class="title4">
                What are FTV's minimum order quantities (MOQs)?
              </h4>
              <div class="faq__icon-wrapp">
                <span></span>
              </div>
            </div>
            <div class="faq__panel">
              <p class="faq__text ac-panel text-def">
                FTV streamlines your business by optimizing your supply chain,
                reducing costs, and increasing efficiency.
              </p>
            </div>
          </div>
        </li>
        <li class="faq__item ac">
          <div class="ac-trigger">
            <div class="faq__box">
              <h4 class="title4">
                What is typical time for order fulfillment?
              </h4>
              <div class="faq__icon-wrapp">
                <span></span>
              </div>
            </div>
            <div class="faq__panel">
              <p class="faq__text ac-panel text-def">
                FTV streamlines your business by optimizing your supply chain,
                reducing costs, and increasing efficiency.
              </p>
            </div>
          </div>
        </li>
        <li class="faq__item ac">
          <div class="ac-trigger">
            <div class="faq__box">
              <h4 class="title4">Do FTV offer shipping or freight options?</h4>
              <div class="faq__icon-wrapp">
                <span></span>
              </div>
            </div>
            <div class="faq__panel">
              <p class="faq__text ac-panel text-def">
                FTV streamlines your business by optimizing your supply chain,
                reducing costs, and increasing efficiency.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
