<div class="product">
  <ul class="product__list">
    <li class="product__item">
      <div class="product__img-wrapp">
        <img src="./img/content/range_1.jpg" alt="" />
      </div>

      <div class="product__box">
        <h3 class="product__headline">Industrial Equipment</h3>
        <p class="product__text text-def">
          Discover top-tier machinery and tools to optimize your operations.
        </p>
        <a href="#" class="product__link btn-more">Request a quote</a>
      </div>
    </li>

    <li class="product__item">
      <div class="product__img-wrapp">
        <img src="./img/content/range_1.jpg" alt="" />
      </div>

      <div class="product__box">
        <h3 class="product__headline">Electronics & Technology</h3>
        <p class="product__text text-def">
          Elevate your business with cutting-edge technology.
        </p>
        <a href="#" class="product__link btn-more">Request a quote</a>
      </div>
    </li>

    <li class="product__item">
      <div class="product__img-wrapp">
        <img src="./img/content/range_1.jpg" alt="" />
      </div>

      <div class="product__box">
        <h3 class="product__headline">Boats and Yachts</h3>
        <p class="product__text text-def">
          Indulge in luxury on the open water.
        </p>
        <a href="#" class="product__link btn-more">Request a quote</a>
      </div>
    </li>

    <li class="product__item">
      <div class="product__img-wrapp">
        <img src="./img/content/range_1.jpg" alt="" />
      </div>

      <div class="product__box">
        <h3 class="product__headline">Agricultural and Heavy Machinery</h3>
        <p class="product__text text-def">
          Elevate your business with cutting-edge technology.
        </p>
        <a href="#" class="product__link btn-more">Request a quote</a>
      </div>
    </li>
  </ul>
</div>
