<section class="demand">
  <div class="container">
    <div class="demand__body">
      <div class="demand__content">
        <div class="demand__sub-title sub-title">
          <span><img src="./img/icons/lock.svg" alt="" /></span>
          <p>Think Global, Source Smart</p>
        </div>

        <h2 class="demand__title title1">On Demand</h2>

        <p class="demand__text text-def">
          Find what you need, when you need it with our on-demand product
          selection.
        </p>
      </div>

      <div class="card">
        <div class="demand__box card__box">
          <div class="card__icon-wrapp">
            <span><img src="./img/icons/category.svg" alt="" /></span>
          </div>
          <h4 class="demand__headline card__headline title4">
            Products at your fingertips
          </h4>
          <p class="demand__text-card card__text text-def">
            Discover a tailored wholesale solution. FTV is dedicated to sourcing
            anything you need, even beyond our product categories. Our expert
            team is ready to guide you towards success.
          </p>
        </div>

        <div class="demand__img-wrapp card__img-wrapp">
          <img src="./img/content/demand_1.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
