.industriesProgress {
  padding: 8rem 0 4rem 0;

  .industries {
    &__body {
      .sub-title {
        margin-bottom: 0.5rem;
      }
    }
    &__wrapp {
      margin-top: 2.5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      gap: 2rem;
    }
    &__box {
    }
    &__conteiner {
    }
    &__card {
      display: none;
      padding: 2.5rem 1.5rem;
      background-color: #f7f8f9;
      border-radius: 1.5rem;

      opacity: 0;
      visibility: hidden;
      transform: translateX(1.25rem);
      transition: all 350ms ease-in;

      .title3 {
        color: #ec5b2a;
        margin-bottom: 1.5rem;
      }
      .text-def {
        margin-bottom: 4.5rem;
      }
      &.choose-card {
        display: block;
      }
      &.is-transition {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
    &__list-card {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      li {
        font-size: 1.125rem;
        line-height: 1.77778;
        color: rgba(25, 25, 25, 0.64);
        display: flex;
        align-items: center;
        gap: 0.5rem;
        &::before {
          content: "";
          flex-shrink: 0;
          width: 0.2813rem;
          height: 0.2813rem;
          border-radius: 50%;
          background-color: rgba(25, 25, 25, 0.64);
        }
      }
    }
    &__list-btn {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &__btn {
      border: 0.063rem solid #6b7280;
      padding: 1.25rem 2rem;
      border-radius: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      p {
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.25;
        color: #191919;
      }
      &.choose-btn {
        p {
          color: #ec5b2a;
        }
        background-color: #f7f8f9;
        border-color: transparent;
        .industries__icon {
          img {
            filter: brightness(0) saturate(100%) invert(34%) sepia(99%)
              saturate(656%) hue-rotate(337deg) brightness(108%) contrast(99%);
          }
        }
      }
      &.btn-hidden {
        display: none;
      }
    }
    &__icon {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .industriesProgress {
    padding: 5rem 0 2.5rem 0;

    .industries {
      &__wrapp {
        margin-top: 2rem;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
      }
      &__box {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
      &__card {
        padding: 0.5rem 2rem 1.5rem 2rem;
        border-radius: 0 0 1.5rem 1.5rem;

        transform: translateY(-1.25rem) translateX(0);

        .title3 {
          display: none;
        }
        .text-def {
          margin-bottom: 2rem;
        }
        &.is-transition {
          transform: translateY(0);
        }
      }
      &__list-btn {
        display: none;
      }
      &__btn {
        padding: 1rem 1.5rem;
        p {
          font-size: 1.75rem;
          line-height: 1.14286;
        }
        &.choose-btn {
          border-radius: 1rem 1rem 0 0;
        }
        &.btn-hidden {
          display: flex;
        }
      }
    }
  }
}
