.industry {
  padding: 8rem 0;

  &__box {
    width: 38.75rem;
    padding: 2.5rem 0 4rem 2rem;
  }
  &__link {
    display: none;
  }
  &__headline {
    margin-top: 1.5rem;
  }
  &__text {
    margin-top: 1.5rem;
  }
  &__list {
    display: flex;
    align-items: start;
    gap: 2.5rem;
    margin-top: 2.5rem;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__lead {
    color: #ec5b2a;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.4;
    text-transform: uppercase;
  }
  &__desc {
    color: #191919;
    font-size: 1.125rem;
    line-height: 1.33;
  }
  &__img-wrapp {
  }
}

@media screen and (max-width: 960px) {
  .industry {
    padding: 5rem 0;

    &__box {
      width: 100%;
      padding: 1.5rem 1.5rem 4rem 1.5rem;
    }
    &__link {
      display: flex;
    }
    &__text {
      margin-top: 1rem;
    }
    &__list {
      display: none;
    }

    &__img-wrapp {
      width: 100%;
      height: 21.3125rem;
    }
  }
}
