.partner {
  padding-bottom: 4rem;

  &__body {
    padding: 3rem 0;

    background-image: url("/img/content/bg-desc.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sub-title {
    margin-bottom: 1.5rem;
  }
  .title1 {
    max-width: 44.625rem;
  }
  &__bg {
    height: 23.875rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 960px) {
  .partner {
    padding-bottom: 2.5rem;

    &__body {
      padding: 1.5rem 0 4rem 0;
      background: none;
    }
    .title1 {
      max-width: 100%;
    }
    &__bg {
      height: 23.875rem;
      img {
        object-fit: cover;
      }
    }
  }
}
