<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="footer__top">
        <div class="footer__part1">
          <a href="./index.html" class="footer__logo">
            <img src="./img/icons/logo_f.svg" alt="" />
          </a>

          <ul class="footer__list-mob">
            <li>
              <a href="./about.html" class="footer__link">About Us</a>
            </li>
            <li>
              <a href="./contact.html" class="footer__link">Contact Us</a>
            </li>
            <li>
              <a href="./catalog.html" class="footer__link">Catalog</a>
            </li>
            <li>
              <a href="./services.html" class="footer__link">Services</a>
            </li>
          </ul>

          <address class="footer__address">
            <div class="footer__address-part">
              <p class="footer__address-lead">Call us</p>
              <a href="tel:+1800000000" class="footer__address-link">
                <span><img src="./img/icons/phone.svg" alt="" /></span>
                <p>+1 8 000 000 00</p>
              </a>
            </div>

            <div class="footer__address-part">
              <p class="footer__address-lead">Drop us a line</p>
              <a href="mailto:example@email.com" class="footer__address-link">
                <span><img src="./img/icons/email.svg" alt="" /></span>
                <p>example@email.com</p>
              </a>
            </div>
          </address>
        </div>

        <div class="footer__part2">
          <ul class="footer__list-desc">
            <li>
              <a href="./about.html" class="footer__link">About Us</a>
            </li>
            <li>
              <a href="./catalog.html" class="footer__link">Catalog</a>
            </li>
            <li>
              <a href="./contact.html" class="footer__link">Contact Us</a>
            </li>
            <li>
              <a href="./services.html" class="footer__link">Services</a>
            </li>
          </ul>

          <div class="footer__scroll-box">
            <button type="button" class="footer__scroll-btn">
              <span><img src="./img/icons/arrow_ur.svg" alt="" /></span>
            </button>
            <p>Back to top</p>
          </div>
        </div>
      </div>

      <div class="footer__bottom">
        <p class="footer__policy">FORVARD TO VICTORY © 2024</p>
        <p class="footer__policy">Privacy policy</p>
      </div>
    </div>
  </div>
</footer>
