<section class="comprehen">
  <div class="container">
    <div class="comprehen__body">
      <div class="comprehen__content">
        <div class="comprehen__sub-title sub-title">
          <span><img src="./img/icons/lock.svg" /></span>
          <p>Think global, source smart</p>
        </div>
        <h1 class="comprehen__title title1">
          Comprehensive Services for Your Business
        </h1>
        <p class="comprehen__text text-def">
          FTV is committed to your business success. Our comprehensive services
          are tailored to meet your unique needs, ensuring your satisfaction is
          our top priority.
        </p>
        <button type="button" class="comprehen__btn btn-def">
          Request a quote
        </button>
      </div>

      <div class="comprehen__img-wrapp">
        <img src="./img/content/comprehen_1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
