<section class="services">
  <div class="container">
    <div class="services__body">
      <div class="services__content">
        <div class="services__sub-title sub-title">
          <span><img src="./img/icons/work.svg" alt="" /></span>
          <p>Quality & value delivered</p>
        </div>

        <h2 class="services__title title2">Our Services</h2>

        <p class="services__text text-def">
          Discover how FTV can streamline your business operations. Our thorough
          suite of services includes:
        </p>
      </div>

      <ul class="services__list">
        <li value="services__item">
          <button
            type="button"
            data-id="servic-card1"
            class="services__btn choose-btn"
          >
            Procurement Solutions
          </button>
        </li>
        <li value="services__item">
          <button type="button" data-id="servic-card2" class="services__btn">
            Logistics and Delivery
          </button>
        </li>
        <li value="services__item">
          <button type="button" data-id="servic-card3" class="services__btn">
            Custom Orders
          </button>
        </li>
        <li value="services__item">
          <button type="button" data-id="servic-card4" class="services__btn">
            Customer Support
          </button>
        </li>
        <li value="services__item">
          <button type="button" data-id="servic-card5" class="services__btn">
            Warranty and Returns
          </button>
        </li>
      </ul>

      <div class="services__card">
        <div class="card choose-card is-transition" id="servic-card1">
          <div class="services__box card__box">
            <div class="card__icon-wrapp">
              <span><img src="./img/icons/check.svg" alt="" /></span>
            </div>
            <h3 class="services__headline card__headline title4">
              Procurement Solutions
            </h3>
            <p class="services__text-card card__text text-def">
              Optimize your supply chain and reduce costs with FTV's efficient
              procurement solutions. We handle everything from sourcing and
              supplier management to contract negotiation and purchase order
              processing, ensuring you get the best possible value for your
              business.
            </p>

            <a href="#" class="services__link card__link btn-more">
              Learn more
            </a>
          </div>

          <div class="services__img-wrapp card__img-wrapp">
            <img src="./img/content/services_1.jpg" alt="" />
          </div>
        </div>

        <div class="card" id="servic-card2">
          <div class="services__box card__box">
            <div class="card__icon-wrapp">
              <span><img src="./img/icons/check.svg" alt="" /></span>
            </div>
            <h3 class="services__headline card__headline title4">
              Logistics and Delivery
            </h3>
            <p class="services__text-card card__text text-def">
              Optimize your supply chain and reduce costs with FTV's efficient
              procurement solutions. We handle everything from sourcing and
              supplier management to contract negotiation and purchase order
              processing, ensuring you get the best possible value for your
              business.
            </p>

            <a href="#" class="services__link card__link btn-more">
              Learn more
            </a>
          </div>

          <div class="services__img-wrapp card__img-wrapp">
            <img src="./img/content/services_1.jpg" alt="" />
          </div>
        </div>

        <div class="card" id="servic-card3">
          <div class="services__box card__box">
            <div class="card__icon-wrapp">
              <span><img src="./img/icons/check.svg" alt="" /></span>
            </div>
            <h3 class="services__headline card__headline title4">
              Custom Orders
            </h3>
            <p class="services__text-card card__text text-def">
              Optimize your supply chain and reduce costs with FTV's efficient
              procurement solutions. We handle everything from sourcing and
              supplier management to contract negotiation and purchase order
              processing, ensuring you get the best possible value for your
              business.
            </p>

            <a href="#" class="services__link card__link btn-more">
              Learn more
            </a>
          </div>

          <div class="services__img-wrapp card__img-wrapp">
            <img src="./img/content/services_1.jpg" alt="" />
          </div>
        </div>

        <div class="card" id="servic-card4">
          <div class="services__box card__box">
            <div class="card__icon-wrapp">
              <span><img src="./img/icons/check.svg" alt="" /></span>
            </div>
            <h3 class="services__headline card__headline title4">
              Customer Support
            </h3>
            <p class="services__text-card card__text text-def">
              Optimize your supply chain and reduce costs with FTV's efficient
              procurement solutions. We handle everything from sourcing and
              supplier management to contract negotiation and purchase order
              processing, ensuring you get the best possible value for your
              business.
            </p>

            <a href="#" class="services__link card__link btn-more">
              Learn more
            </a>
          </div>

          <div class="services__img-wrapp card__img-wrapp">
            <img src="./img/content/services_1.jpg" alt="" />
          </div>
        </div>

        <div class="card" id="servic-card5">
          <div class="services__box card__box">
            <div class="card__icon-wrapp">
              <span><img src="./img/icons/check.svg" alt="" /></span>
            </div>
            <h3 class="services__headline card__headline title4">
              Warranty and Returns
            </h3>
            <p class="services__text-card card__text text-def">
              Optimize your supply chain and reduce costs with FTV's efficient
              procurement solutions. We handle everything from sourcing and
              supplier management to contract negotiation and purchase order
              processing, ensuring you get the best possible value for your
              business.
            </p>

            <a href="#" class="services__link card__link btn-more">
              Learn more
            </a>
          </div>

          <div class="services__img-wrapp card__img-wrapp">
            <img src="./img/content/services_1.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
