<section class="industry">
  <div class="container">
    <div class="card">
      <div class="industry__box card__box">
        <div class="card__icon-wrapp">
          <span><img src="./img/icons/graph.svg" alt="" /></span>
        </div>
        <h3 class="industry__headline card__headline title4">
          Industry Expertise, Strong Partnerships, and Customer Focus.
        </h3>
        <p class="industry__text card__text text-def">
          We offer a comprehensive range of wholesale services, including
          efficient product sourcing, reliable supply chain management, and
          timely delivery. Benefit from our competitive pricing, quality
          assurance, and customized solutions to meet your unique business
          needs.
        </p>

        <ul class="industry__list">
          <li class="industry__item">
            <p class="industry__lead">5 252</p>
            <p class="industry__desc">Products sold.</p>
          </li>
          <li class="industry__item">
            <p class="industry__lead">$23,467</p>
            <p class="industry__desc">Average order value.</p>
          </li>
          <li class="industry__item">
            <p class="industry__lead">89%</p>
            <p class="industry__desc">KPI</p>
          </li>
        </ul>

        <a href="#" class="industry__link card__link btn-more">Learn more</a>
      </div>

      <div class="industry__img-wrapp card__img-wrapp">
        <img src="./img/content/industry_1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
