<section class="industries industriesProgress">
  <div class="container">
    <div class="industries__body">
      <div class="sub-title">
        <span><img src="./img/icons/work.svg" alt="" /></span>
        <p>Quality & value delivered</p>
      </div>
      <h2 class="title2">Industries We Serve</h2>

      <div class="industries__wrapp">
        <div class="industries__box">
          <div class="industries__conteiner">
            <button
              type="button"
              class="industries__btn btn-hidden choose-btn"
              data-id="industr-card1"
            >
              <span class="industries__icon">
                <img src="./img/icons/indust-about_1.svg" alt="" />
              </span>
              <p>Retail</p>
            </button>
            <div
              class="industries__card choose-card is-transition"
              id="industr-card1"
            >
              <h3 class="title3">Retail</h3>
              <p class="text-def">
                FTV is your partner in optimizing manufacturing operations. From
                sourcing critical components to streamlining your supply chain,
                we deliver tailored solutions to boost efficiency, reduce costs,
                and enhance product quality. Experience the power of a
                streamlined supply chain.
              </p>
              <ul class="industries__list-card">
                <li>Access to a vast network of global suppliers</li>
                <li>Customized sourcing solutions to meet specific needs</li>
                <li>Competitive pricing and cost-effective solutions</li>
                <li>Quality assurance and control measures</li>
                <li>Just-in-time inventory management options</li>
                <li>Supply chain optimization and risk mitigation</li>
                <li>Expert product sourcing and procurement</li>
                <li>Dedicated account management and support</li>
              </ul>
            </div>
          </div>

          <div class="industries__conteiner">
            <button
              type="button"
              class="industries__btn btn-hidden"
              data-id="industr-card2"
            >
              <span class="industries__icon">
                <img src="./img/icons/indust-about_2.svg" alt="" />
              </span>
              <p>Manufacturing</p>
            </button>
            <div class="industries__card" id="industr-card2">
              <h3 class="title3">Manufacturing</h3>
              <p class="text-def">
                FTV is your partner in optimizing manufacturing operations. From
                sourcing critical components to streamlining your supply chain,
                we deliver tailored solutions to boost efficiency, reduce costs,
                and enhance product quality. Experience the power of a
                streamlined supply chain.
              </p>
              <ul class="industries__list-card">
                <li>Access to a vast network of global suppliers</li>
                <li>Customized sourcing solutions to meet specific needs</li>
                <li>Competitive pricing and cost-effective solutions</li>
                <li>Quality assurance and control measures</li>
                <li>Just-in-time inventory management options</li>
                <li>Supply chain optimization and risk mitigation</li>
                <li>Expert product sourcing and procurement</li>
                <li>Dedicated account management and support</li>
              </ul>
            </div>
          </div>

          <div class="industries__conteiner">
            <button
              type="button"
              class="industries__btn btn-hidden"
              data-id="industr-card3"
            >
              <span class="industries__icon">
                <img src="./img/icons/indust-about_3.svg" alt="" />
              </span>
              <p>E-commerce</p>
            </button>
            <div class="industries__card" id="industr-card3">
              <h3 class="title3">E-commerce</h3>
              <p class="text-def">
                FTV is your partner in optimizing manufacturing operations. From
                sourcing critical components to streamlining your supply chain,
                we deliver tailored solutions to boost efficiency, reduce costs,
                and enhance product quality. Experience the power of a
                streamlined supply chain.
              </p>
              <ul class="industries__list-card">
                <li>Access to a vast network of global suppliers</li>
                <li>Customized sourcing solutions to meet specific needs</li>
                <li>Competitive pricing and cost-effective solutions</li>
                <li>Quality assurance and control measures</li>
                <li>Just-in-time inventory management options</li>
                <li>Supply chain optimization and risk mitigation</li>
                <li>Expert product sourcing and procurement</li>
                <li>Dedicated account management and support</li>
              </ul>
            </div>
          </div>

          <div class="industries__conteiner">
            <button
              type="button"
              class="industries__btn btn-hidden"
              data-id="industr-card4"
            >
              <span class="industries__icon">
                <img src="./img/icons/indust-about_4.svg" alt="" />
              </span>
              <p>Healthcare</p>
            </button>
            <div class="industries__card" id="industr-card4">
              <h3 class="title3">Healthcare</h3>
              <p class="text-def">
                FTV is your partner in optimizing manufacturing operations. From
                sourcing critical components to streamlining your supply chain,
                we deliver tailored solutions to boost efficiency, reduce costs,
                and enhance product quality. Experience the power of a
                streamlined supply chain.
              </p>
              <ul class="industries__list-card">
                <li>Access to a vast network of global suppliers</li>
                <li>Customized sourcing solutions to meet specific needs</li>
                <li>Competitive pricing and cost-effective solutions</li>
                <li>Quality assurance and control measures</li>
                <li>Just-in-time inventory management options</li>
                <li>Supply chain optimization and risk mitigation</li>
                <li>Expert product sourcing and procurement</li>
                <li>Dedicated account management and support</li>
              </ul>
            </div>
          </div>

          <div class="industries__conteiner">
            <button
              type="button"
              class="industries__btn btn-hidden"
              data-id="industr-card5"
            >
              <span class="industries__icon">
                <img src="./img/icons/indust-about_5.svg" alt="" />
              </span>
              <p>Technology</p>
            </button>
            <div class="industries__card" id="industr-card5">
              <h3 class="title3">Technology</h3>
              <p class="text-def">
                FTV is your partner in optimizing manufacturing operations. From
                sourcing critical components to streamlining your supply chain,
                we deliver tailored solutions to boost efficiency, reduce costs,
                and enhance product quality. Experience the power of a
                streamlined supply chain.
              </p>
              <ul class="industries__list-card">
                <li>Access to a vast network of global suppliers</li>
                <li>Customized sourcing solutions to meet specific needs</li>
                <li>Competitive pricing and cost-effective solutions</li>
                <li>Quality assurance and control measures</li>
                <li>Just-in-time inventory management options</li>
                <li>Supply chain optimization and risk mitigation</li>
                <li>Expert product sourcing and procurement</li>
                <li>Dedicated account management and support</li>
              </ul>
            </div>
          </div>
        </div>

        <ul class="industries__list-btn">
          <li>
            <button
              type="button"
              class="industries__btn choose-btn"
              data-id="industr-card1"
            >
              <span class="industries__icon">
                <img src="./img/icons/indust-about_1.svg" alt="" />
              </span>
              <p>Retail</p>
            </button>
          </li>
          <li>
            <button
              type="button"
              class="industries__btn"
              data-id="industr-card2"
            >
              <span class="industries__icon">
                <img src="./img/icons/indust-about_2.svg" alt="" />
              </span>
              <p>Manufacturing</p>
            </button>
          </li>
          <li>
            <button
              type="button"
              class="industries__btn"
              data-id="industr-card3"
            >
              <span class="industries__icon">
                <img src="./img/icons/indust-about_3.svg" alt="" />
              </span>
              <p>E-commerce</p>
            </button>
          </li>
          <li>
            <button
              type="button"
              class="industries__btn"
              data-id="industr-card4"
            >
              <span class="industries__icon">
                <img src="./img/icons/indust-about_4.svg" alt="" />
              </span>
              <p>Healthcare</p>
            </button>
          </li>
          <li>
            <button
              type="button"
              class="industries__btn"
              data-id="industr-card5"
            >
              <span class="industries__icon">
                <img src="./img/icons/indust-about_5.svg" alt="" />
              </span>
              <p>Technology</p>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
