<section class="process criteria">
  <div class="container">
    <div class="criteria__body">
      <div class="criteria__sub-title sub-title">
        <span><img src="./img/icons/work.svg" alt="" /></span>
        <p>Quality & value delivered</p>
      </div>
      <h2 class="criteria__title title2">Process</h2>

      <div class="criteria__wrapp process-splide splide">
        <div class="criteria__track splide__track">
          <ul class="criteria__list splide__list">
            <li class="criteria__item splide__slide">
              <div class="criteria__num"><span>01</span></div>
              <h3 class="criteria__title title3">Expertise</h3>
              <p class="text-def">
                Leverage our industry knowledge and global network to source the
                perfect products.
              </p>
              <div class="criteria__circle"><span></span></div>
            </li>
            <li class="criteria__item splide__slide">
              <div class="criteria__num"><span>02</span></div>
              <h3 class="criteria__title title3">Order</h3>
              <p class="text-def">
                Place your order with confidence, knowing your needs are our
                priority.
              </p>
              <div class="criteria__circle"><span></span></div>
            </li>
            <li class="criteria__item splide__slide">
              <div class="criteria__num"><span>03</span></div>
              <h3 class="criteria__title title3">Deliver</h3>
              <p class="text-def">
                Experience seamless logistics and timely delivery of your
                products.
              </p>
              <div class="criteria__circle"><span></span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
