.header__nav {
  .nav-menu {
    display: flex;
    align-items: center;
    &__list {
      display: flex;
      align-items: center;
      gap: 4rem;
    }
    &__link {
      color: #0c0d0e;
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 600;
      transition: all 150ms ease-in;
      &:hover {
        color: #ec5b2a;
      }
    }
    &__box {
      margin-left: 9.69em;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    &__lang {
      position: relative;
      border-radius: 0.5rem;
      border: 0.063rem solid #0c0d0e;
      transition: all 150ms ease-in;
      li:not(:first-child) {
        display: none;
      }
      li > a {
        padding: 0.5rem 1rem;
        gap: 0.5rem;
        display: flex;
        color: #0c0d0e;
        align-items: center;
      }
      span {
        font-weight: 600;
        line-height: 1.5;
      }
      &:hover {
        border-radius: 0.5rem 0.5rem 0 0.5rem;
        .sub-menu {
          visibility: visible;
          opacity: 1;
        }
      }
      .sub-menu {
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: 100%;
        right: -0.063rem;
        background-color: #fff;
        border-radius: 0 0 0.5rem 0.5rem;
        border: 0.063rem solid #0c0d0e;
        display: flex;
        flex-direction: column;
        transition: all 150ms ease-in;
        a {
          padding: 0.5rem 1rem;
          transition: all 150ms ease-in;
          border-bottom: 0.063rem solid #0c0d0e;
          &:hover {
            color: #fff;
            background-color: #0c0d0e;
          }
        }
        li {
          display: block;
          &:last-child {
            a {
              border-bottom: none;
            }
          }
        }
      }
    }
    &__btn {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: #0c0d0e;
      border: 0.063rem solid transparent;
      color: #fff;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.71;
      transition: all 150ms ease-in;
      &:hover,
      &:focus {
        color: #0c0d0e;
        background-color: #fff;
        border-color: #0c0d0e;
      }
    }
  }
}

.mob-menu__nav {
  .nav-menu {
    padding: 3rem 1.5rem;

    &__list {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 4rem;
      margin-bottom: 4rem;
    }
    &__link {
      display: block;
      width: 100%;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1;
      transition: all 150ms ease-in;
      color: #0c0d0e;
      &:hover {
        color: #ec5b2a;
      }
    }
    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
    &__lang {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      position: relative;
      transition: all 150ms ease-in;
      li {
        overflow: hidden;
        border-radius: 0.5rem;
        border: 0.063rem solid #0c0d0e;
        opacity: 0.5;
        &.is-active {
          opacity: 1;
        }
      }
      li > a {
        padding: 0.5rem 1rem;
        gap: 0.5rem;
        display: flex;
        color: #0c0d0e;
        align-items: center;
      }
      span {
        font-weight: 600;
        line-height: 1.5;
      }
      .sub-menu {
        display: none;
      }
    }
    &__btn {
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: #0c0d0e;
      border: 0.063rem solid transparent;
      color: #fff;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.71;
      transition: all 150ms ease-in;
      &:hover,
      &:focus {
        color: #0c0d0e;
        background-color: #fff;
        border-color: #0c0d0e;
      }
    }
  }
}
