<div class="modal">
  <div class="modal__body quoteModal">
    <button type="button" class="quoteModal__close">
      <img src="./img/icons/close.svg" alt="" />
    </button>

    <h3 class="title3">REQUEST A QUOTE</h3>
    <p class="text-def">
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore
    </p>

    <form class="quote__form">
      <div class="quote__box">
        <label class="quote__label">
          <p>Name</p>
          <input
            class="quote__input"
            type="text"
            name="quoteName"
            placeholder="Name"
          />
        </label>

        <label class="quote__label">
          <p>Email</p>
          <input
            class="quote__input"
            type="text"
            name="quoteEmail"
            placeholder="example@gmail.com"
          />
        </label>

        <label class="quote__label">
          <p>Phone number</p>
          <input
            class="quote__input"
            type="text"
            name="quoteNumber"
            placeholder="Phone number"
          />
        </label>

        <label class="quote__label">
          <p>Message</p>
          <textarea
            class="quote__textarea"
            name="quoteTextarea"
            placeholder="Text here"
          ></textarea>
        </label>
      </div>

      <div class="quoteModal__btn-wrapp">
        <button type="submit" class="quote__sbm">Send</button>
      </div>
    </form>
  </div>
</div>
