<nav class="nav-menu">
  <ul class="nav-menu__list">
    <li class="nav-menu__item">
      <a href="#" class="nav-menu__link">About Us</a>
    </li>
    <li class="nav-menu__item">
      <a href="#" class="nav-menu__link">Catalog</a>
    </li>
    <li class="nav-menu__item">
      <a href="#" class="nav-menu__link">Services</a>
    </li>
    <li class="nav-menu__item">
      <a href="#" class="nav-menu__link">Contact Us</a>
    </li>
  </ul>

  <div class="nav-menu__box">
    <ul class="nav-menu__lang">
      <li
        id="menu-item-406"
        class="pll-parent-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-parent menu-item-has-children menu-item-406"
      >
        <a href="#">
          <!-- <img src="./img/icons/flag_1.jpg" alt="En" width="16" height="16" /> -->
          <span>EngEng</span>
        </a>
        <ul class="sub-menu">
          <li
            id="menu-item-406-en"
            class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
          >
            <a href="/" hreflang="en-GB" lang="en-GB">
              <!-- <img src="./img/icons/flag_1.jpg" alt="En" width="16" height="16" /> -->
              <span>Eng</span>
            </a>
          </li>
          <li
            id="menu-item-406-en"
            class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
          >
            <a href="/" hreflang="en-GB" lang="en-GB">
              <!-- <img src="./img/icons/flag_2.jpg" alt="En" width="16" height="16" /> -->
              <span>Fre</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <button type="button" class="nav-menu__btn">Request a quote</button>
  </div>
</nav>
