<section class="catalog">
  <div class="container">
    <div class="catalog__content">
      <div class="catalog__sub-title sub-title">
        <span><img src="./img/icons/lock.svg" alt="" /></span>
        <p>Think Global, Source Smart</p>
      </div>

      <h2 class="catalog__title title1">Product Catalog</h2>

      <p class="catalog__text text-def">
        Discover robust and reliable machinery designed to optimize agricultural
        and construction operations.
      </p>

      <button type="button" class="catalog__btn btn-def">
        Request a quote
      </button>
    </div>

    <load src="partials/general/product.html" />
  </div>
</section>
