<section class="order criteria">
  <div class="container">
    <div class="criteria__body">
      <div class="sub-title">
        <span><img src="./img/icons/work.svg" alt="" /></span>
        <p>Quality & value delivered</p>
      </div>
      <h2 class="title2">HOW TO ORDER</h2>

      <div class="criteria__splide splide">
        <div class="splide__track">
          <ul class="criteria__list splide__list">
            <li class="splide__slide">
              <div class="criteria__num"><span>01</span></div>
              <h3 class="title3">Browse Our Catalog</h3>
              <p class="text-def">
                Explore our wide range of products to find what you need.
              </p>
              <div class="criteria__box">
                <div class="criteria__circle"><span></span></div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="criteria__num"><span>02</span></div>
              <h3 class="title3">Contact Us</h3>
              <p class="text-def">
                Get in touch with our sales team for assistance or to place an
                order.
              </p>
              <div class="criteria__box">
                <div class="criteria__circle"><span></span></div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="criteria__num"><span>03</span></div>
              <h3 class="title3">Enjoy Your Purchase</h3>
              <p class="text-def">
                Seceive your order promptly and efficiently.
              </p>
              <div class="criteria__box">
                <div class="criteria__circle"><span></span></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
