.header {
  position: relative;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(0);
  transition: .3s;
  z-index: 20;
  &.fixed {
    transform: translateY(-100%);
  }
  &__top {
    background-color: #fff;
    padding: 1.25rem 0;
    position: relative;
    z-index: 15;
  }
  &__body {
    display: flex;
    align-items: center;
  }
  &__logo {
    display: block;
    width: 6.8125rem;
    margin-right: auto;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__nav {
  }
}

.custom-logo-link {
  display: block;
  width: 6.8125rem;
  margin-right: auto;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.burger-menu {
  display: none;
}

@media screen and (max-width: 960px) {
  .header {
    &__top {
      padding: 1.5rem 0;
    }
    &__logo {
      width: 5.125rem;
    }
    &__nav {
      display: none;
    }
  }
  .custom-logo-link {
    width: 5.125rem;
  }

  .burger-menu {
    position: relative;
    display: block;
    width: 2.25rem;
    height: 1.5rem;
    transition: all 150ms ease-in;
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 0.25rem;
      background-color: #0c0d0e;
      transform: translateX(-50%) translateY(-50%) rotate(0);
      transition: all 150ms ease-in;
      &:first-child {
        top: 0;
        transform: translateX(-50%) translateY(0%);
      }
      &:last-child {
        top: 100%;
        transform: translateX(-50%) translateY(-100%);
      }
    }
    &.is-opened {
      span {
        top: 50%;
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(1) {
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
        &:nth-child(3) {
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
      }
    }
  }
}
