.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 2rem 1.5rem;
  z-index: 20;
  overflow: auto;
  transition: all 150ms ease-in;

  opacity: 0;
  visibility: hidden;
  &.show-done {
    opacity: 1;
    visibility: visible;
  }
  &.show-quote {
    opacity: 1;
    visibility: visible;
  }
}
.modal__overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.modal__body {
  position: relative;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 2rem;
  max-width: 36rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.done {
  align-items: center;

  .title3 {
    margin-bottom: 1.5rem;
  }
  .text-def {
    margin-bottom: 3rem;
  }
  .btn-def {
    width: 11.25rem;
  }
}

.quoteModal {
  &__close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in;
    img {
      width: 2rem;
      height: 2rem;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  .title3 {
    margin-bottom: 0.5rem;
  }
  .text-def {
    margin-bottom: 1rem;
  }
  &__btn-wrapp {
    display: flex;
    justify-content: center;
  }
  .quote__sbm {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 960px) {
  .modal__body {
    padding: 4rem 2rem;
  }

  .done {
    .title3 {
      margin-bottom: 1rem;
    }
    .btn-def {
      width: 100%;
    }
  }

  .quoteModal {
    &__close {
      right: 1rem;
      top: 1rem;
    }
    .title3 {
      margin-bottom: 1rem;
    }
    .text-def {
      margin-bottom: 2rem;
    }
    .quote__sbm {
      margin-top: 3rem;
    }
  }
}
