<section class="groups">
  <div class="container">
    <div class="groups__body">
      <div class="groups__top">
        <div class="groups__info">
          <div class="groups__sub-title sub-title">
            <span><img src="./img/icons/work.svg" alt="" /></span>
            <p>Quality & Value Delivered</p>
          </div>
          <h2 class="groups__title title2">Product groups</h2>
        </div>
        <a href="#" class="groups__link-desc btn-def">More Services</a>
      </div>

      <load src="partials/general/product.html" />

      <a href="#" class="groups__link-mob btn-def">More Services</a>
    </div>
  </div>
</section>
