<section class="industries">
  <div class="container">
    <div class="industries__body">
      <div class="industries__sub-title sub-title">
        <span><img src="./img/icons/work.svg" alt="" /></span>
        <p>Quality & Value Delivered</p>
      </div>
      <h2 class="industries__title title2">Industries We Serve</h2>

      <div class="industries__box">
        <ul class="industries__list-first">
          <li class="industries__item">
            <div class="industries__top">
              <div class="industries__img-wrapp">
                <img src="./img/icons/indust-serve_1.svg" alt="" />
              </div>
              <h3 class="title3">Retail</h3>
            </div>
            <p class="industries__text text-def">
              Optimize your retail operations with our end-to-end supply chain
              solutions.
            </p>
          </li>
          <li class="industries__item">
            <div class="industries__top">
              <div class="industries__img-wrapp">
                <img src="./img/icons/indust-serve_2.svg" alt="" />
              </div>
              <h3 class="title3">Manufacturing</h3>
            </div>
            <p class="industries__text text-def">
              Elevate your product with premium components and materials.
            </p>
          </li>
          <li class="industries__item">
            <div class="industries__top">
              <div class="industries__img-wrapp">
                <img src="./img/icons/indust-serve_3.svg" alt="" />
              </div>
              <h3 class="title3">E-commerce</h3>
            </div>
            <p class="industries__text text-def">
              Fuel your e-commerce growth with seamless product sourcing and
              delivery.
            </p>
          </li>
        </ul>
        <ul class="industries__list-second">
          <li class="industries__item">
            <div class="industries__top">
              <div class="industries__img-wrapp">
                <img src="./img/icons/indust-serve_4.svg" alt="" />
              </div>
              <h3 class="title3">Healthcare</h3>
            </div>
            <p class="industries__text text-def">
              Secure top-tier medical supplies and equipment with our expert
              sourcing.
            </p>
          </li>
          <li class="industries__item">
            <div class="industries__top">
              <div class="industries__img-wrapp">
                <img src="./img/icons/indust-serve_5.svg" alt="" />
              </div>
              <h3 class="title3">Technology</h3>
            </div>
            <p class="industries__text text-def">
              Discover the perfect tech solutions for your business.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
