<section class="range">
  <div class="container">
    <div class="range__body">
      <div class="range__info">
        <div class="range__sub-title sub-title">
          <span><img src="./img/icons/range-icon_1.svg" alt="" /></span>
          <p>Your trusted partner</p>
        </div>
        <h2 class="range__title title2">Explore Our Product Range</h2>
      </div>

      <div class="card">
        <div class="card__box">
          <div class="card__icon-wrapp">
            <span><img src="./img/icons/range-icon_2.svg" alt="" /></span>
          </div>
          <h3 class="card__headline title4">
            Explore a vast selection of high-quality products tailored to your
            specific needs.
          </h3>
          <p class="card__text text-def">
            We have everything you need to succeed, from industry-leading
            equipment to innovative solutions.
          </p>
          <a href="#" class="card__link btn-more">Learn more</a>
        </div>

        <div class="card__img-wrapp">
          <img src="./img/content/range_1.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
