<section class="services">
  <div class="container">
    <div class="services__body">
      <div class="services__top">
        <div class="services__info">
          <div class="services__sub-title sub-title">
            <span><img src="./img/icons/work.svg" alt="" /></span>
            <p>Quality & value delivered</p>
          </div>
          <h2 class="services__title title2">our Services</h2>
        </div>
        <a href="#" class="services__link-desc btn-def">More Services</a>
      </div>

      <ul class="services__list">
        <li class="services__item">
          <div class="services__img-wrapp">
            <img src="./img/icons/our-serv_1.svg" alt="" />
          </div>
          <h3 class="title3">Product Selection Assistance</h3>
          <p class="services__text text-def">
            FTV is dedicated to helping you find the ideal product to match your
            unique needs. We collaborate closely to understand your requirements
            and provide expert guidance in selecting a product that aligns with
            your quality standards and market goals.
          </p>
        </li>
        <li class="services__item">
          <div class="services__img-wrapp">
            <img src="./img/icons/our-serv_2.svg" alt="" />
          </div>
          <h3 class="title3">Finding Right Manufacture</h3>
          <p class="services__text text-def">
            We carefully identify and evaluate factories to bring your product
            vision to life, ensuring high quality and reliability for peace of
            mind.
          </p>
        </li>
        <li class="services__item">
          <div class="services__img-wrapp">
            <img src="./img/icons/our-serv_3.svg" alt="" />
          </div>
          <h3 class="title3">Finance Negotiating</h3>
          <p class="services__text text-def">
            We harness our industry knowledge and strong manufacturer
            relationships to secure your business's best terms and pricing. Our
            commitment to quality ensures you get exceptional value without
            compromise.
          </p>
        </li>
      </ul>

      <a href="#" class="services__link-mob btn-def">More Services</a>
    </div>
  </div>
</section>
