<section class="solution possibil">
  <div class="container">
    <div class="possibil__body">
      <div class="possibil__content">
        <h2 class="possibil__title">
          Experience Our Experts Solution First-Hand
        </h2>
        <button type="button" class="possibil__btn btn-def">
          Request a quote
        </button>
      </div>

      <div class="possibil__img-wrapp">
        <img src="./img/content/possibil_1.jpg" alt="" />
        <div class="possibil__gradient"></div>
      </div>
      <div class="possibil__bg"></div>
    </div>
  </div>
</section>
