<section class="wholesaler">
  <div class="container">
    <div class="wholesaler__body">
      <div class="wholesaler__content">
        <div class="wholesaler__sub-title sub-title">
          <span><img src="./img/icons/lock.svg" /></span>
          <p>Think Global, Source Smart</p>
        </div>
        <h1 class="wholesaler__title title1">
          Choose Forward to Victory as your wholesaler
        </h1>
        <p class="wholesaler__text text-def">
          Forward to Victory is your one-stop shop for a wide range of wholesale
          products across various industries.
        </p>
        <button type="button" class="wholesaler__btn btn-def">
          Request a quote
        </button>
      </div>

      <div class="wholesaler__img-wrapp">
        <img src="./img/content/wholesaler_1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
