<section class="contact">
  <div class="container">
    <div class="contact__body">
      <div class="contact__sub-title sub-title">
        <span><img src="./img/icons/work.svg" alt="" /></span>
        <p>Quality & value delivered</p>
      </div>

      <h2 class="contact__title title1">Contact Us</h2>

      <p class="contact__text text-def">
        Have questions or need assistance? We're here to help! Get in touch with
        our dedicated team for inquiries, support, or feedback.
      </p>

      <address class="contact__address">
        <div class="contact__address-part">
          <p class="contact__address-lead">Call us</p>
          <a href="tel:+1800000000" class="contact__address-link">
            <span><img src="./img/icons/phone.svg" alt="" /></span>
            <p>+1 8 000 000 00</p>
          </a>
        </div>

        <div class="contact__address-part">
          <p class="contact__address-lead">Drop us a line</p>
          <a href="mailto:example@email.com" class="contact__address-link">
            <span><img src="./img/icons/email.svg" alt="" /></span>
            <p>example@email.com</p>
          </a>
        </div>
      </address>
    </div>
  </div>
</section>
